.sidebar__list-link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #E9E9EB;
  transition: .3s linear;
}

.sidebar__list-link:hover {
  color: #EF4B4C;
}

.sidebar__list-link:focus {
  outline: 1px dotted #E9E9EB;
}