@import '../../../variables.scss';

.my-posts {
  width: 75%;
  padding-top: 36px;
  padding-left: 16px;

  &__title {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #000;

    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}