@import url(./__logo/header__logo.css);
@import url(./__logo-link/header__logo-link.css);

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;

  background-color: #0066CC;

  grid-area: header;
}
