@import '../../variables.scss';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;

  border-radius: 0 0 $blocks-border-radius $blocks-border-radius;
  background-color: $blocks-background-color;

  box-shadow: $blocks-box-shadow;

  grid-area: header;
}

.logo {  }

.logoLink {
  text-decoration: none;
  transition: .3s linear;

  &:focus {
    outline: 1px dotted $accent-color;
  }

  &:hover {
    transform: scale(1.1);
  }
}