@import '../../variables.scss';

.sidebar {
  padding: 24px;

  background-color: $blocks-background-color;
  border-radius: $blocks-border-radius;
  box-shadow: $blocks-box-shadow;

  grid-area: sidebar;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    margin-bottom: 12px;
  }
  &__list-item:last-child {
    margin-top: 32px;
  }

  &__list-link {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: $menu-item-color;
    transition: .3s linear;

    &_active {
      font-family: $font-main;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-decoration: none;
      color: #FFB140;
      transition: .3s linear;
    }
  }
  &__list-link:hover {
    color: $hover-link-color;
  }
  &__list-link:focus {
    outline: 1px dotted #E9E9EB;
  }

}