@import url(./__author-photo/post__author-photo.css);
@import url(./__text/post__text.css);
@import url(./__title/post__title.css);

.post {
  width: 75%;

  display: grid;
  grid-template-areas:
    "post__title post__title"
    "post__author-photo post__text";
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  grid-gap: 12px;

  padding-top: 36px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}