$font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif;
$hover-link-color: #FFB140;

$menu-item-color: #E9E9EB;

$main-block-padding: 32px;
$blocks-background-color: #3D619B;
$blocks-border-radius: 6px;
$blocks-box-shadow: 0 3px 5px rgba(104, 104, 104, .2);