@import '../../../variables.scss';

.dialogs__messageBlock {
  display: grid;
  grid-template-areas:
    'dialogs__authorPhoto dialogs__authorName'
    'dialogs__authorPhoto dialogs__message';
  grid-template-columns: 48px 1fr;
  grid-gap: 0 8px;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 0;
  padding-right: 0;

  &:first-child {
    padding-top: 0;
  }
}

.dialogs__authorPhoto {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;

  grid-area: dialogs__authorPhoto;
}

.dialogs__authorName {
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: $primary-text;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;

  grid-area: dialogs__authorName;
}

.dialogs__message {
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $primary-text;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  box-sizing: border-box;
  grid-area: dialogs__message;
}